@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F55A5A;
    height: 55px;
}

.nav p {
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
    margin-left: 8px;
}